#video-screen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#myVideo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    border-radius: 5%;
    max-height: 20%;
    max-width: 20%;
    background:white ;
}

#YourVideo{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
}

#video-mute{
     bottom: 10px;
     left: 30px;
     position: absolute;
}

